body {
    font-family: 'Roboto', sans-serif;
}

.fundo {
    background-color: #3E3E3E;
    min-height: 100vh;
    display: flex;
}

.bloco {
    max-width: 950px;
    display: flex;
    margin: auto;
}

.esquerda {
    background-color: #D75441;
    width: 45%;
}

.direita {
    background-color: #252525;
    padding: 30px;
    width: 55%;
}

/*.logo {
    position: fixed;
    z-index: 1;
    font-size: 24px;
    margin-left: 28px;
    margin-top: 16px;
}*/

.logo01 {
    font-size: 24px;
    padding-left: 13px;
    padding-top: 16px;
}

.logo:link {
    color: #ffffff;
    text-decoration: none;
}

.logo:visited {
    color: #ffffff;
}

.logo:hover {
    color: #000000;
}

.logo:active {
    color: #ffffff;
}

.burger {
    width: 80%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.msg1 {
    color: #873226;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 96px;
    margin-left: 13px;
    line-height: 38px;
}

.msg2 {
    color: #873226;
    font-weight: bold;
    font-size: 52px;
    margin-bottom: 0px;
    margin-left: 13px;
}

h2 {
    color: #D75441;
    font-size: 24px;
    font-weight: bold;
}

label {
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 3px;
}

legend {
    color: #FFFFFF;
    font-weight: bold;    
}

.caixa {
    background-color: #252525;
    border: 2px solid #D75441;
    height: 44px;
    color: #D75441;
}

.caixa::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #D75441;
    opacity: 1; /* Firefox */

}

.caixa:focus {
    background-color: #252525;
    border: 2px solid #FFFFFF;
    color: #D75441;
    box-shadow: none;
}

.caixa:focus::placeholder {
    color: #FFFFFF;
}

label.form-check-label {
    font-weight: normal;
}

.btn-laranja {
    background-color: #D75441;
    border-radius: 0;
    border-style: none;
    font-size: 16px;
    font-weight: bold;
    width: 180px;
    height: 40px;
}

.btn-laranja:hover {
    background-color: #a53f2f;
}

.btn-laranja:not(:disabled):not(.disabled).active, .btn-laranja:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #a53f2f;
    border-color: #D75441;
}

.btn-laranja:focus {
    color: #fff;
    background-color: #a53f2f;
    border-color: #D75441;
    box-shadow: 0 0 0 0.2rem rgba(255, 63, 38, 0.5);
}

.btn-laranja:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 63, 38, 0.5);
}

@media (max-width: 767.98px) {
    .esquerda, .direita {
        height: 100%;
    }

    .direita {
        padding: 24% 5% 10% 5%;
    }

    .esquerda {
        display: none;
    }

    .logo01 {
        background-color: #D75441;
        width: 100%;
        padding-top: 4%;
        padding-bottom: 4%;
        padding-left: 5%;
    }
}